.color {
  background-color: rgba(var(--color), 0.6);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .color states */
.color:hover {
  cursor: pointer;
  background-color: rgba(var(--color), 0.8);
}

.color:active {
  background-color: rgba(var(--color), 1);
}

.color--selected {
  background-color: rgba(var(--color), 1);
  box-shadow: 0 0 0 3px rgba(var(--color), 0.6);
  outline: 1px dashed rgba(var(--color), 1);
  outline-offset: 3px;
  pointer-events: none;
}